.site-header {
	font-family: $opensans;
	letter-spacing: .05rem;

	&,
	.wrap.is-at-top {
		background-color: $whiter;
	}

	.grid-container {
		padding: 0 $grid-padding-gutters / 2;

		> .grid-x {
			background-color: $maroon;
			padding: 2.1rem 10px;
		}
	}

	.top-bar-left {
		margin-right: 0;
	}

	.site-title {
		font-size: 4.3vw;
		line-height: 1.1;
		color: $whiter;

		a {
			background-color: $maroon;
			display: table-cell;
			vertical-align: middle;
		}

		small {
			text-transform: uppercase;
			font-size: 65%;
			line-height: 1;
		}

		.grid-x {
			align-items: center;
		}

		.cell.logo {
			position: relative;
			z-index: 3;
			padding-right: 1.2rem;
		}

		.cell + .cell {
			border-left: 2px solid $whiter;
			padding: {
				top: .3rem;
				bottom: .3rem;
				left: 1.2rem;
			}
		}
	}

	.sticky {
		> .grid-container > .grid-x {
			align-items: flex-end;
		}
	}

	.is-stuck {
		.site-title {
			font-size: 3.5vw;

			img {
				max-width: 100%;
			}

			.cell + .cell {
				padding: {
					top: 0;
					bottom: 0;
				}
			}
		}

		.cell.logo {
			width: 20%;
			min-width: 82px;
		}

		.grid-container {
			padding: {
				top: 0;
				bottom: 0;
			}

			> .grid-x {
				padding: {
					top: .5rem;
					bottom: .5rem;
				}
			}
		}
	}

	.title-bars {
		align-self: center;
		padding-right: .63rem;

		.title-bar,
		.title-bar.title-bar-navigation .title-bar-title {
			padding: 0;
		}
	}

	@include breakpoint(425px down) {
		.site-title {
			.cell.logo {
				padding-left: .1rem;
				padding-right: .9rem;
			}

			.cell + .cell {
				padding-left: .9rem;
			}
		}

		.is-stuck .site-title {
			.cell.logo {
				min-width: 62px;
			}
		}
	}

	@include breakpoint(medium) {
		&,
		.wrap.is-at-top {
			background-color: $whiter;
		}

		.grid-container > .grid-x {
			background-color: $whiter;
			padding: 1rem 1rem 0;
		}

		.sticky {
			border-top: $nav-height solid $maroon;
		}

		.is-stuck {
			border-top-width: 0.4rem;

			.grid-container {
				padding-top: .4rem;
				padding-bottom: 0;
			}

			.site-title {
				line-height: 1;

				a {
					width: $logo-width-stuck;
					height: $logo-width-stuck;
					padding: .7rem;
				}

				small {
					font-size: 65%;
				}

				.title {
					font-size: 1.2rem;
				}

				.cell {
					max-height: $logo-width-stuck - $nav-height-stuck / 2;
				}
			}
		}

		.site-title {
			color: $maroon;
			font-size: 1.5rem;

			.cell {
				max-height: $logo-width - $nav-height / 2;
			}

			a {
				width: $logo-width;
				height: $logo-width;
				padding: $grid-padding-gutters / 2;
				box-shadow: 2px 2px 2px $black;
			}

			.cell.logo {
				padding-right: 0;
				width: auto;
			}

			.cell + .cell {
				border-left: none;
			}
		}

		.bar-wrap {
			overflow: hidden;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: {
				left: calc(50% - 50vw);
				right: calc(50% - 50vw);
			}
			max-width: 100vw;
			width: 200vw;
			height: 100%;
			background-color: $maroon;
		}
	}
}
