.menu .is-active > a,
.menu .unlinked > a:hover,
.dropdown.menu > li.is-active > a {
	background-color: $whiter;
}

.submenu {
	li.linked > a:hover,
	li.linked > a:focus {
		background-color: $nav-bg-gray;
		transition: all .1s; // Fixes flicker in background color.
	}

	.unlinked > a {
		cursor: default;
		color: $maroon;
		font-weight: bold;
	}

	&.menu-depth-1 {
		padding: {
			left: .8rem;
			right: .8rem;
		}
	}

	.menu-item-has-children {
		padding: 0 .8rem;
	}
}

.dropdown .is-dropdown-submenu a {
	padding: 0.7rem 0.2rem;
}

.nav-primary {
	background-color: $maroon;
	clear: none;
	position: relative;

	.top-bar ul {
		background-color: $maroon;
	}

	.dropdown.menu > li.is-active > a {
		color: $site-title-color;
	}

	.menu-primary > li > a:hover,
	.menu-primary > li.is-active > a {
		background-color: darken($maroon, 6%);
	}

	.submenu li:hover {
		border-left-color: darken($maroon, 6%);
	}

	li:hover .menu-depth-1 a,
	.menu-depth-1 a {
		color: $nav-blue;
	}

	.submenu .unlinked > a,
	li:hover .submenu .unlinked > a {
		color: $maroon;
	}

	.dropdown.menu > li > a {
		position: relative;
	}

	.menu-primary {
		position: static;
	}

	.is-dropdown-submenu.js-dropdown-active {
		display: flex;
	}

	.submenu {
		.site-header & li {
			&,
			&:hover {
				border-left: none;
			}
		}

		li:not(.menu-item-has-children) + li {
			border-top: 1px dashed $dark-blue;
		}
	}

	// Row of submenu columns.
	.grid {

		&.is-dropdown-submenu-parent {
			position: static;
		}

		.is-dropdown-submenu.menu-depth-1 .is-dropdown-submenu-parent.opens-right > a::after {
			display: none;
		}

		.is-dropdown-submenu {
			min-width: auto;
		}

		.submenu {
			&.menu-depth-1 {
				width: 100%;
				flex: 0 0 auto;
				flex-wrap: nowrap;
			}

			&.menu-depth-2 {
				display: block;
				position: static;
			}
		}

		.submenu.menu-depth-1 > li:not(.menu-item-has-children) + li {
			border-top: none;
		}
	}

	@include breakpoint(medium) {
		.site-header & {
			padding-left: $logo-width + $grid-padding-gutters / 2;
		}

		@at-root .site-header .is-stuck .nav-primary {
			padding-left: $logo-width-stuck + $grid-padding-gutters / 2;
		}

		.top-bar ul {
			background-color: $whiter;
		}

		.menu-primary {
			padding-right: 0;
		}
	}
}
