// Temporary fix for flash of submenu content.
html:not(.no-js) *[data-responsive-menu*="dropdown"] .submenu:not(.is-dropdown-submenu) {
	display: none;
}

.menu .is-active > a,
.dropdown.menu > li.is-active > a {
	background-color: $whiter;
}

.menu {
	a {
		color: $nav-blue;

		&:hover {
			color: $nav-blue;
			background-color: $nav-bg-gray;
			transition: all .1s; // Fixes flicker in background color.
		}
	}
}

.submenu {
	padding: 1.1rem;

	li.linked > a:hover,
	li.linked > a:focus {
		background-color: $nav-bg-gray;
		transition: all .1s; // Fixes flicker in background color.
	}

	.unlinked > a {
		cursor: default;
		color: $maroon;
	}

	li:not(.menu-item-has-children) {
		border-bottom: $nav-submenu-item-border;
	}

	.grid &.menu-depth-1 {
		padding: .7rem .8rem;

		li li {
			padding: 0;
		}
	}

	&.grid .menu-item-has-children {
		padding: 0 .8rem;
	}

	.menu-item:not(.grid) & .is-dropdown-submenu-parent.opens-right > a {
		padding-right: rem-calc(10) + 0.2rem;
	}

	@include breakpoint(medium) {
		li:not(.menu-item-has-children) + li {
			border-top: $nav-submenu-item-border;
		}
	}
}

.dropdown .is-dropdown-submenu a {
	padding: 0.6rem 0.2rem;
}

.nav-primary {
	background-color: $whiter;
	clear: none;

	a {
		&:hover {
			background-color: $nav-bg-gray;
		}
	}

	input[type="search"] {
		color: $black;
	}

	a,
	a:hover,
	li:hover a,
	li:hover .menu-depth-1 a,
	.menu-depth-1 a {
		color: $nav-blue;
	}

	#nav-menu-primary {
		margin-top: 0;
	}

	.top-bar {
		position: relative;
		padding: 1rem;
		margin-top: 0;

		&,
		ul {
			background-color: $whiter;
		}

		.submenu {
			&,
			ul {
				background-color: $whiter;
			}
		}
	}

	.dropdown.menu > li {
		> a {
			position: relative;
		}

		&.is-active > a {
			color: $site-title-color;
		}
	}

	.menu-primary {
		position: static;
	}

	.is-dropdown-submenu.js-dropdown-active {
		display: flex;
	}

	.submenu {
		li {
			&,
			&:hover {
				border-left: none;
			}
		}
	}

	// Row of submenu columns.
	@include breakpoint(medium) {
		@include breakpoint($break-xlarge + 16px down) {
			.grid {
				position: static;
			}

			.dropdown.menu > .grid > .is-dropdown-submenu {
				position: absolute;
				right: 0;
				left: 0;
				top: 100%;
			}
		}
	}

	.grid {
		.is-dropdown-submenu.menu-depth-1 .is-dropdown-submenu-parent.opens-right > a::after {
			display: none;
		}

		.is-dropdown-submenu {
			min-width: auto;
		}

		.submenu {
			&.menu-depth-1 {
				flex: 0 0 auto;
				flex-wrap: nowrap;

				@include breakpoint($break-xlarge + 16px) {
					border: 1px solid $maroon;
					border-width: 0 1px 1px;
				}

				> li {
					padding: 0 .8rem;

					@include breakpoint($break-xlarge + 16px) {
						padding: 0 .8rem;
						max-width: 275px;
						min-width: 185px;
					}

					> a {
						font-weight: bold;
					}
				}

				.submenu {
					padding: 0;
				}
			}

			&.menu-depth-2 {
				display: block;
				position: static;
			}
		}

		.submenu.menu-depth-1 > li:not(.menu-item-has-children) + li {
			border-top: none;
		}
	}

	.site-header & .title-bar-search {
		border-right: none;
		width: 100%;

		.search-icon {
			display: none;
		}
	}

	#header-search {
		position: relative;

		.site-header & {
			margin: {
				left: 0;
				right: 0;
			}
		}
	}

	@include breakpoint(medium) {
		background-color: $maroon;

		> .wrap {
			display: block;
		}

		.top-bar {
			padding: {
				top: 0;
				bottom: 0;
			}

			&,
			ul {
				background-color: $maroon;
			}
		}

		#nav-menu-primary {
			margin: auto;
		}

		input[type="search"] {
			color: $whiter;
		}

		a,
		li:hover a {
			color: $whiter;
		}

		.submenu .unlinked > a {
			font-weight: bold;
		}

		.title-bars {
			align-self: flex-start;
		}

		.title-bar-search {
			position: relative;

			.site-header & .search-icon {
				height: $nav-height;
				display: inline-block;
			}
		}

		#header-search {
			position: absolute;
			top: 100%;
			right: -8px;
			background-color: $maroon;
			padding: .5rem;
			width: 225px;
		}

		.search-form {
			input[type="search"] {
				width: calc(100% - 34px);
				margin-right: 8px;
			}

			input[type="submit"] {
				background: {
					image: url("../images/search-agrilife-white.svg");
					position: center;
				}
				margin: 0;
				cursor: pointer;
				width: 26px;
			}
		}

		.top-bar {
			width: 100%;
		}

		.menu-primary {
			padding: {
				left: .2rem;
				right: 0;
			}

			> li {
				> a:hover,
				&.is-active > a {
					background-color: darken($maroon, 6%);
				}
			}
		}

		.dropdown.menu > li.is-dropdown-submenu-parent:hover > a::after,
		.dropdown.menu > li.is-dropdown-submenu-parent.is-active > a::after {
			border-color: $whiter transparent transparent;
		}

		.submenu {
			li:not(.menu-item-has-children) {
				border-bottom: none;
			}

			li:not(.menu-item-has-children) + li {
				border-top: $nav-submenu-item-border;
			}

			li:hover {
				border-left-color: darken($maroon, 6%);
			}
		}

		.is-stuck & {
			.title-bar-search .search-icon {
				height: $nav-height-stuck;
			}

			.menu-primary {
				line-height: $nav-height-stuck;
			}

			.dropdown.menu > li > a {
				font-size: 14px;
				line-height: 1rem;
				padding: {
					top: $nav-item-padding-top-stuck;
					bottom: $nav-item-padding-top-stuck;
				}
			}

			.search-form input[type="submit"] {
				height: $nav-height-stuck;
				width: 22px;
			}
		}
	}
}

@include breakpoint(medium) {
	.menu .unlinked > a:hover {
		background-color: $whiter;
	}

	.nav-primary {
		.submenu .unlinked > a
		li:hover .submenu .unlinked > a {
			color: $maroon;
		}
	}

	.menu-depth-1 {
		border: 1px solid $whiter;
		padding: .7rem 0;
	}

	.is-dropdown-submenu-parent.opens-right>.is-dropdown-submenu {
		padding: 0 1rem .5rem;
	}

	#menu-departments-1 {
		padding: 0 1em 1em 1em;
	}
}

.dept-nav {
	@include breakpoint(medium) {
		position: absolute;
		right: 0;
		top: -77px;

		.is-stuck & {
			top: -58px;
		}

		&.is-active {
			margin-top: -1px;
			right: -1px;

			&,
			> ul {
				border: 1px solid $gray-lighter;
			}

			.dropdown.menu > & > .is-dropdown-submenu {
				right: -1px;
			}
		}

		.dropdown.menu > &.is-dropdown-submenu-parent > a {
			padding: 0.7rem 1rem 0.7rem 2.19rem;

			&::after {
				right: auto;
				left: 1rem;
				border-left-width: 0;
				margin-top: -5px;
			}
		}

		.submenu {
			min-width: 350px;

			> li:last-child {
				border-bottom: $nav-submenu-item-border;
			}
		}

		.nav-primary .dropdown.menu > & {
			> a,
			> a:hover,
			&.is-active > a {
				color: $black;
				background-color: transparent;
			}

			&.is-dropdown-submenu-parent {
				> a::after,
				&.is-active > a::after,
				&:hover > a::after {
					@include css-triangle($dropdownmenu-arrow-size, $black, left);
				}
			}
		}

		.menu {
			position: absolute;
			left: auto;
			right: 0;
			text-align: left;
		}
	}
}
