@charset "utf-8";

@import "foundation";
@import "settings";

%icon {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-right: $grid-margin-gutters / 4;
	background: transparent none no-repeat center/contain;
}

.icon-location {
	&::before {
		@extend %icon;
		width: 14px;
		height: 1.6rem;
		background-image: url("../images/icon-location.svg");
	}
}

.icon-phone {
	&::before {
		@extend %icon;
		width: 16px;
		height: 1.6rem;
		background-image: url("../images/icon-phone.svg");
		background-position: left 6px;
	}
}

.icon-email {
	&::before {
		@extend %icon;
		width: 16px;
		height: 1.6rem;
		background-image: url("../images/icon-email.svg");
	}
}

.site-footer {
	padding: 0;
	background-color: $maroon;

	.fcell {
		@include xy-gutters( $grid-padding-gutters, padding );
		display: block;
	}

	.wrap {
		padding: 0;
	}

	.footer-info,
	.footer-container {
		padding: 1rem 0;
	}

	.footer-container {
		background-color: darken( $maroon, 5% );

		&,
		a {
			font-family: $opensans;
		}

		p {
			margin-bottom: 1rem;
		}
	}

	.req-links {
		@include xy-grid-container;
		margin-bottom: 0;
		text-align: center;
	}

	.footer-info {
		font-family: $opensans;
		line-height: 1.6rem;
	}

	.waa {
		font-family: $tungsten;
	}

	.widget_nav_menu h4 {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid #894244;
		font-size: 2rem;
	}

	.widget_a2a_share_save_widget .widget-wrap {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid #894244;
	}

	.college-contact .pipe {
		@include xy-gutters( $grid-padding-gutters / 2, margin );
		border-left: 1px solid $white;
		display: inline-block;
		height: 1.1rem;
		vertical-align: sub;
	}

	@include breakpoint(medium) {
		.fcell {
			width: 50%;
		}

		.footer-info,
		.footer-container {
			padding: 30px 0;
		}

		.footer-info {
			position: relative;
		}

		.footer-container p {
			margin-bottom: 1rem;
		}

		.college-contact,
		.widget_a2a_share_save_widget {
			margin-top: 30px;
		}

		.widget_nav_menu {
			width: 50%;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		.logo {
			display: block;
			width: 50%;

			img {
				width: 100%;
				max-width: 360px;
			}
		}

		.widget_a2a_share_save_widget {
			display: inline-block;
		}

		.waa {
			display: block;
			font-size: 1.6rem;
		}

		.widget .menu-item {
			width: 50%;

			&:nth-child(even) {
				padding-left: $grid-padding-gutters / 4;
			}

			&:nth-child(odd) {
				padding-right: $grid-padding-gutters / 4;
			}

			a {
				padding: 0;
				line-height: 1.6;

				&:hover,
				&:focus {
					color: $yellow;
					background-color: transparent;
				}
			}
		}
	}
}
