/* Default Page and Post styles */
@charset "utf-8";

@import "foundation";
@import "settings";

h1,
h2 {
	text: {
		align: left;
		decoration: none;
	}

	&::after {
		border-bottom: none;
	}
}

h1 {
	padding: 0;
}

h2 {
	border-bottom-color: $nav-blue;
}
